.about-container {
  height: 100vh;
}

.item {
  width: 75%;
  display: inline-block;
}

.avatar {
  width: 120px;
  height: 120px;
  background-image: url('../../assets/tymek_foto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -10px;
}

@media (max-width: 425px) {
  .avatar {
    width: 60px;
    height: 60px;
  }

  .avatar-box {
    display: none;
  }

  .item {
    text-align: justify;
    width: 100%;
    text-justify: inter-word;
  }
}
