<md-card fxLayout="row" fxLayoutAlign="center center" class="about-container">

  <div class="avatar-box">
    <div md-card-avatar class="avatar"></div>
    <md-card-title>Tymoteusz Klocek</md-card-title>
    <md-card-subtitle>Junior Web Developer</md-card-subtitle>
  </div>

  <div class="item">
    <p> Hi, my name is Tymoteusz</p>
    <md-card-subtitle>I am a Junior Web Developer and this is my portfolio.</md-card-subtitle>

    <md-card-subtitle>I like programming because it organises thinking, requires concentration, self-organization and self-motivation.</md-card-subtitle>

    <p>Studies</p>
    <md-card-subtitle>
      I have MA in Philosophy. This studies enabled me to get to know a very interesting discipline - logic.
      While programming I can explore the practical side of it.
    </md-card-subtitle>

    <p>Job Expierience</p>
    <md-card-subtitle>
      Years of practice in the profession of soft skills trainer taught me creativity and flexibility that I now use working as a developer.
      Thanks to the experience of communication manager in IT company I know the importance of staying in contact with the customer,
      understanding the customer's needs and providing good communication via websites.
      I believe these are invaluable skills of any Front-end Developer.
      <p>
        <b>
          Since December 2016 I work as a Junior Web Developer at Industi where I am responsible for development and testing two big web apps: ENTIS - 
          web app for customer relationship management and SIO (ogólnopolski System Informatyzaji Oświatowej) - MEN's project for all schools in Poland.
        </b>
      </p>
    </md-card-subtitle>

    <p>After work</p>
    <md-card-subtitle>I am a husband and a father. I love mountains, forest and travelling with my family.</md-card-subtitle>
  </div>
</md-card>