
.picture {
  width: 160px;
  height: 110px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
}

.bars2 {
  display: none;
}

.items {
  margin-left: 20px;
}

/*@media (max-width: 768px) {
  .bars2 {
    display: none;
  }
}

@media (max-width: 425px) {
  .skills {
    display: block;
    width:100%;
  }

  #bars {
    display: none;
  }

  .bars2 {
    display: block;
    width: 95%;
  }

  .items {
    margin-left: 5px;
  }
}*/