<div flLayout="row" fxLayoutAlign="start stretch">
  <md-card class="skills">
    <div class="items">

      <img src="assets/back.jpg" alt="picture of laptop" class="picture" />
      <span class="title">Responsive video store web api</span>

      <p> Technologis: Angular, Type Script, Angular Material, ngrx (Redux pattern). </p>
      <p><a href="https://github.com/tymoteuszKlocek/video-store">Link to repository</a></p>
      <md-card-subtitle>
        This REST api was created to practice redux pattern in Angular aplications.
        It makes requests to YouTube API server and gets date in json from there. I used Angular routing,
        http, pipes and some services.
      </md-card-subtitle>

      <img src="assets/play.jpg" alt="picture of play" class="picture" />
      <span  class="title">Responsive game for learning words (polish ver).</span>
      <p> Technologis: Angular, Type Script, Angular Material, ngrx (Redux pattern). </p>
      <p><a href="https://github.com/tymoteuszKlocek/word-game">Link to repository</a></p>
      <md-card-subtitle>
        This is a simple game for my children. It helps to learn difficult words. I used
        redux patter (ngrx, rxjs) to create api state. I was also practicing Angular Material and Type Script.
      </md-card-subtitle>

      <img src="assets/galery.jpg" alt="picture of galery" class="picture" />
      <span class="title">Drag and drop online gallery</span>
      <p> Technologis: Java Script, HTML5, CSS. </p>
      <p><a href="https://github.com/tymoteuszKlocek/dragAndDropPureJS">Link to repository</a></p>
      <md-card-subtitle>
        This web site is created with pure Java Script. I didin't use jQuery or other librarys.
        I was practising some most common JS patterns (singeltons, modules, etc.)
      </md-card-subtitle>

      <img src="assets/other.jpg" alt="picture of other" class="picture" />
      <span class="title">Other repositories on GitHub</span>
      <p> Technologis: AngularJS, Java Script, HTML5, CSS. Bootstrap </p>
      <p><a href="https://github.com/tymoteuszKlocek">Link to repository</a></p>
      <md-card-subtitle>
        Please visit my repo and see my other open sources projects.
      </md-card-subtitle>
    </div>
  </md-card>

  <app-skills class="skills" id="bars"></app-skills>

</div>

<app-skills class="bars2"></app-skills>
