<div flLayout="row" fxLayoutAlign="start stretch" >
  <md-card class="skills">
    <md-card-header class="header">
      <div md-card-avatar class="avatar"></div>
      <p>Angular</p>
    </md-card-header>
    <p> Technologis: Angular, Angular Material, ngrx. </p>
    <p><a href="www.wp.pl">Link to repository</a></p>
    <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

    <md-card-header class="header">
      <div md-card-avatar class="avatar"></div>
      <p>Angular</p>
    </md-card-header>
    <p> Technologis: Angular, Angular Material, ngrx. </p>
    <p><a href="www.wp.pl">Link to repository</a></p>
    <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

    <md-card-header class="header">
      <div md-card-avatar class="avatar"></div>
      <p>Angular</p>
    </md-card-header>
    <p> Technologis: Angular, Angular Material, ngrx. </p>
    <p><a href="www.wp.pl">Link to repository</a></p>
    <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

  </md-card>


  <app-skills class="skills" id="bars"></app-skills>
</div>

<app-skills class="bars2" ></app-skills>
  <!--<div>

    <md-card class="skills">
      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Angular</p>
      </md-card-header>
      <p> Technologis: Angular, Angular Material, ngrx. </p>
      <p><a href="www.wp.pl">Link to repository</a></p>
      <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Angular</p>
      </md-card-header>
      <p> Technologis: Angular, Angular Material, ngrx. </p>
      <p><a href="www.wp.pl">Link to repository</a></p>
      <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Angular</p>
      </md-card-header>
      <p> Technologis: Angular, Angular Material, ngrx. </p>
      <p><a href="www.wp.pl">Link to repository</a></p>
      <md-card-subtitle>I used: Angular, Angular Material, ngrx (Redux pattern)</md-card-subtitle>

    </md-card>

    <div class="skills">
      <app-skills></app-skills>
    </div>
  </div>-->
