<div flLayout="row" fxLayoutAlign="start stretch">
  <md-card class="skills">
    <div class="items">
      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Responsive video store web api</p>
      </md-card-header>
      <p> Technologis: Angular, Type Script, Angular Material, ngrx (Redux pattern). </p>
      <p><a href="https://github.com/tymoteuszKlocek/video-store">Link to repository</a></p>
      <md-card-subtitle>
        This REST api was createed to practice redux pattern in Angular aplications.
        It makes requests to YouTube API server and gets date in json from there. I used angular routing,
        http, pipes and some serices.
      </md-card-subtitle>

      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Responsive game for learning words (polish ver).</p>
      </md-card-header>
      <p> Technologis: Angular, Type Script, Angular Material, ngrx (Redux pattern). </p>
      <p><a href="https://github.com/tymoteuszKlocek/word-game">Link to repository</a></p>
      <md-card-subtitle>
        This is a simple game for my children. It helps to learn difficult words. I used
        redux patter (ngrx, rxjs) to create api state. I was also practicing Angular Material and Type Script.
      </md-card-subtitle>

      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Drag and drop online gallery</p>
      </md-card-header>
      <p> Technologis: Java Script, HTML5, CSS. </p>
      <p><a href="https://github.com/tymoteuszKlocek/dragAndDropPureJS">Link to repository</a></p>
      <md-card-subtitle>
        This web site is created with pure Java Script. I didin't use jQuery or other librarys.
        I was practicing some most common JS patterns (singeltons, modules, etc.)
      </md-card-subtitle>


      <md-card-header class="header">
        <div md-card-avatar class="avatar"></div>
        <p>Other repositories on GitHub</p>
      </md-card-header>
      <p> Technologis: AngularJS, Java Script, HTML5, CSS. Bootstrap </p>
      <p><a href="https://github.com/tymoteuszKlocek">Link to repository</a></p>
      <md-card-subtitle>
        Please visit my repo and see my other opensources projects.
      </md-card-subtitle>
    </div>
  </md-card>

  <app-skills class="skills" id="bars"></app-skills>

</div>

<app-skills class="bars2"></app-skills>
