<md-card class="container">
  <div class="info">
    <p>
      I mostly work in Angular, Angular Material and Java Script but I have some practice in HTML/CSS and
      I am opened to other framewors (React, etc).
    </p>
  </div>
  <div class="info">
    <md-card  *ngFor="let skill of skills">
      <md-card-content class="section">
        <h2>{{skill.name}}</h2>
        <section>
          <md-progress-bar [color]="color"
                           [mode]="mode"
                           [value]="skill.value"
                           [bufferValue]="0">
          </md-progress-bar>
        </section>
      </md-card-content>
    </md-card>
  </div>
</md-card>