.tabs {
  display: block;
}

.menu-btn {
  padding-left: 20px;
  font-size: 16px;
}

.menu {
  display: none;
}


#footer {
  height: 200px;
  bottom: 0px;
  font-size: 12px;
}

@media (max-width: 425px) {
  .tabs {
    display: none;
  }

  .menu {
    display: block;
  }

}